<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleName</key><string>Privacy Watermark</string>
<key>CFBundleDisplayName</key><string>Privacy Watermark</string>
<key>CFBundleIdentifier</key><string>com.lounim.privacywatermark</string>
<key>CFBundleExecutable</key><string>PrivacyWatermark</string>
<key>CFBundleIconFile</key><string>app_icon</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>2.1.2</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>14.0</string>
<key>NSHighResolutionCapable</key><true/>
</dict></plist>
